body {
  padding: 1em;
  font-family: -apple-system, sans-serif;
}

h1 {
  font-size: 2.6rem;
  margin: 10px auto;
}

h2 {
  font-size: 2rem;
  margin: 10px auto;
}

h3 {
  font-size: 1.65rem;
  margin: 10px auto;
}

h4 {
  font-size: 1.25rem;
  margin: 10px auto;
}

kbd {
  border: 2px solid black;
  border-bottom: 5px solid black;
  border-radius: 8px;
  padding: 5px 12px;
  font-family: monospace;
  user-select: none;
  display: inline-block;
}

warn {
  display: block;
  background-color: #e5bf00;
  border-radius: 8px;
  border-left: solid 10px #b5980a;
  color: #303030;
  padding: 1em;
  margin: 10px 0;
  max-width: 325px;
  word-wrap: break-word;
}

error {
  display: block;
  background-color: red;
  border-radius: 8px;
  border-left: solid 10px #ad0000;
  color: #fff;
  padding: 1em;
  margin: 10px 0;
  max-width: 325px;
  word-wrap: break-word;
}

success {
  display: block;
  background-color: #00a513;
  border-radius: 8px;
  border-left: solid 10px #02680e;
  color: #fff;
  padding: 1em;
  margin: 10px 0;
  max-width: 325px;
  word-wrap: break-word;
}

blockquote {
  display: block;
  font-family: serif;
  border-radius: 8px;
  color: #6b6b6b;
  border-left: solid 10px #6b6b6b;
  padding: 1em;
  margin: 10px 0;
  max-width: 325px;
  word-wrap: break-word;
  background-color: #cecece;
}

warn:before {
  background-image: url('img/warn.svg');
}

error:before {
  background-image: url('img/err.svg');
}

success:before {
  background-image: url('img/success.svg');
}

warn:before,
error:before,
success:before {
  background-position: center;
  width: 1em;
  height: 1em;
  display: inline-block;
  content: '';
  vertical-align: middle;
}

button {
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  background-color: #cecece;
  transition: transform .5s;
}

button:focus {
  padding: 6px 10px;
  border: solid 2px #727272;
  outline: none;
}

button:active {
  transform: scale(.85);
}

code {
  display: block;
  padding: 1em;
  border-radius: 8px;
  background-color: #cecece;
}

img {
  max-width: 100%;
  max-height: auto;
  border-radius: 8px;
  vertical-align: middle;
  margin: 7px 7px 7px 0;
}

a {
  color: #0094ff;
  text-decoration: none;
}